<html>
<head>
    <title>404</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/header_style.css" rel="stylesheet"/>
    <link href="/css/body_style.css" rel="stylesheet"/>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="header-title">
            <img src="/images/B&E-icon.png" style="width: 200px; height: 100px;">
            <h1>B&E AIRLINES</h1>
        </div>
    
        <div class="header-buttons">
        <ul>
            <li><a href="/goodbye">Back</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
        </ul>
        </div>
    </header>

<div class="container">
    <form class="search" style="border-radius: 10px;">
        <h1 style="font-size: 80px;">404 Not Found T_T</h1>
    </form>
</div>

</body>