<html>

<head>
    <title>Airline Staff Portal</title>
    
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/header_style.css" rel="stylesheet"/>
    <link href="/css/body_style.css" rel="stylesheet"/>
    <link href="/css/form_style.css" rel="stylesheet"/>
    <script src="/js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/dropdown_style.css" rel="stylesheet"/>

</head>
<input type="hidden" value='{{error}}' id="error_msg"/>
<script>
        
    window.onload = function() {
        if(document.getElementById("error_msg").value!="None"){
            alert(document.getElementById("error_msg").value);
        }
        var Ids = document.getElementsByClassName("airplaneIDs");
        for(var i=0; i<Ids.length; i++) {
            Ids[i].style.display = 'none';
        }
    }
    function plane_ID_check(){
        var myselect=document.getElementsByName("airline")[0];
        var index=myselect.selectedIndex;

        var al = myselect.options[index].text;
        var Ids = document.getElementsByClassName("airplaneIDs");
        for(var i=0; i<Ids.length; i++) {
            Ids[i].style.display = 'none';
        }
        var Ids = document.getElementsByClassName(al);
        for(var i=0; i<Ids.length; i++) {
            Ids[i].style.display = 'inline';
        }
    } 
    function checkSubmit(){
        if(document.getElementsByName("departureAirport")[0].value==document.getElementsByName("arrivalAirport")[0].value){
            alert("Airports cannot be the same!");
        }
        if(document.getElementsByName("departureTime")[0].value==document.getElementsByName("arrivalTime")[0].value){
            alert("Times cannot be the same!");
        }
    }
</script>

<body>
    <header>
        <div class="header-title">
            <img src="/images/B&E-icon.png" style="width: 200px; height: 100px;">
            <h1>B&E AIRLINES</h1>
        </div>
    
        <div class="header-buttons">
        <ul>
            <li style="width: 200px; font-weight: 300;">Welcome {{username}} !</li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        </div>
    </header>


<div class="container">

    <div class="dd">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">View Datas
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="/sViewFlight">View My Flight</a></li>
                    <li><a href="/sViewBA">View All BAs</a></li>
                    <li><a href="/sViewCustomer">View Frequent Customers</a></li>
                    <li><a href="/sViewDestination">View Top Destinations</a></li>
                    <li><a href="/sViewReport">View Reports</a></li>
                    <li><a href="/sRevenue">Comparison of Revenue Earned</a></li>
                </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add New
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="/addAirplane">Add Airplane</a></li>
                    <li><a href="/addAirport">Add New Airport</a></li>
                    <li><a href="/createFlight">Create New Flights</a></li>
                </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><a href="/changeStatus">Change Status</a></button>
        </div>
    </div>
</div>
    

    <!--  Flight Creating design  -->
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="form-header">
							<h1>New Flight Info</h1>
						</div>
                        <form action="/createFlight" method="POST">
							<div class="form-group">
                                <input class="form-control" type="number" name="flightNumber">
								<span class="form-label">Flight Number</span>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="form-control" name="departureAirport">
                                            {% for airport in airports %}
                                                <option value="{{airport[0]}}">{{airport[0]}}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="select-arrow"></span>
                                        <span class="form-label">Departure Airport</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="datetime-local" name="departureTime">
                                        <span class="form-label">Departure Time</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="form-control" name="arrivalAirport">
                                            {% for airport in airports %}
                                                <option value="{{airport[0]}}">{{airport[0]}}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="select-arrow"></span>
                                        <span class="form-label">Arrival Airport</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="datetime-local" name="arrivalTime">
                                        <span class="form-label">Arrival Time</span>
                                    </div>
                                </div>
                            </div>
                            
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<select class="form-control" name="airline" onchange="javascript:plane_ID_check()">
                                            <option>===Please Select===</option>
                                            {% for airline in airlines %}
                                                <option value="{{airline[0]}}">{{airline[0]}}</option>
                                            {% endfor %}
										</select>
										<span class="select-arrow"></span>
										<span class="form-label">Airline</span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select class="form-control" name="airplaneId">
                                            {% for id in airplanes %}
                                                <option class="airplaneIds {{id[0]}}" value="{{id[1]}}">{{id[1]}}</option>
                                            {% endfor %}
										</select>
										<span class="select-arrow"></span>
										<span class="form-label">Airplane ID</span>
									</div>
                                </div>
                                <div class="col-md-4">
									<div class="form-group">
										<select class="form-control" name="status">
											<option value="Upcoming">Upcoming</option>
											<option value="Delayed">Delayed</option>
											<option value="In-Progress">In-Progress</option>
										</select>
										<span class="select-arrow"></span>
										<span class="form-label">Status</span>
									</div>
								</div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="price">
                                <span class="form-label">Ticket Price</span>
                            </div>
							<div class="form-btn">
								<button class="submit-btn" onclick="javascript:checkSubmit()">Create Flight</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<script src="/js/jquery.min.js"></script>
	<script>
		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
		});

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
        }
        
        
	</script>


</body>


</html>
