<html>

<head>
    <title>Airline Staff Portal</title>
    
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/header_style.css" rel="stylesheet"/>
    <link href="/css/body_style.css" rel="stylesheet"/>

    <script src="/js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/dropdown_style.css" rel="stylesheet"/>

</head>

<body>
    <header>
        <div class="header-title">
            <img src="/images/B&E-icon.png" style="width: 200px; height: 100px;">
            <h1>B&E AIRLINES</h1>
        </div>
    
        <div class="header-buttons">
        <ul>
            <li style="width: 200px; font-weight: 300;">Welcome {{username}} !</li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        </div>
    </header>


    <script>
        window.onload = function() {
        }
    
        function radioCheck() {
        }
    </script>



<div class="container">

    <div class="dd">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">View Datas
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="/sViewFlight">View My Flight</a></li>
                    <li><a href="/sViewBA">View All BAs</a></li>
                    <li><a href="/sViewCustomer">View Frequent Customers</a></li>
                    <li><a href="/sViewDestination">View Top Destinations</a></li>
                    <li><a href="/sViewReport">View Reports</a></li>
                </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add New
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="/addAirplane">Add Airplane</a></li>
                    <li><a href="/addAirport">Add New Airport</a></li>
                    <li><a href="/createFlight">Create New Flights</a></li>
                </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><a href="/changeStatus">Change Status</a></button>
        </div>
    </div>
</div>

    <!--  Status Changing design  -->
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form" style="max-width: 100%;">
                    <form action='/changeStatus', method="POST">
                        <div class="form-group">
							<div class="form-checkbox">
                                <table class="data-showcase">
                                    <th>Choice</th>
                                    <th>Airline</th>
                                    <th>Flight</th>
                                    <th>Depart Airport</th>
                                    <th>Depart Time</th>
                                    <th>Destination</th>
                                    <th>Arrival Time</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    {% for line in flights %}
                                        
                                        
                                        <tr>
                                            <td>
                                                <input type="radio" id="{{line[1]}}" name="data-index" value="{{loop.index}}">
                                                <span style="position: relative; width: 10px; height: 10px;"></span>
                                            </td>
                                            <td name="airline_name" value="{{line[0]}}">{{line[0]}}</td>
                                            <input type="hidden" name="airline_name" value="{{line[0]}}">
                                            <td name="flight_num" value="{{line[1]}}">{{line[1]}}</td>
                                            <input type="hidden" name="flight_num" value="{{line[1]}}">
                                            <td>{{line[2]}}</td>
                                            <td>{{line[3]}}</td>
                                            <td>{{line[4]}}</td>
                                            <td>{{line[5]}}</td>
                                            <td>{{line[6]}}</td>
                                            <td>
                                                <div class="form-group" style="margin-bottom: 0;">
                                                    <select id="customer" class="form-control" name="status" style="width: 100px; display: inline;">
                                                            <option value="Upcoming">Upcoming</option>
                                                            <option value="Delayed">Delayed</option>
                                                            <option value="In-progress">In-progress</option>
                                                    </select>
                                                    <span class="select-arrow"></span>
                                                </div>
                                            </td>   
                                        </tr>
                                    </label>
                                    {% endfor %}
                                </table>
							</div>
                        </div>
                        <div class="form-btn">
                            <button class="submit-btn">Update Status</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .section {
        font-family:  'Teko', sans-serif;
    }
    .form-btn {
        font-size: 30px;
    }
</style>
<script src="/js/jquery.min.js"></script>
	<script>
		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
		});

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
		}
	</script>

</body>


</html>