<html>

<head>
    <title>Airline Staff Portal</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/header_style.css" rel="stylesheet" />
    <link href="/css/body_style.css" rel="stylesheet" />
    <link href="/css/form_style.css" rel="stylesheet" />

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/dropdown_style.css" rel="stylesheet" />

</head>

<body>
    <header>
        <div class="header-title">
            <img src="/images/B&E-icon.png" style="width: 200px; height: 100px;">
            <h1>B&E AIRLINES</h1>
        </div>

        <div class="header-buttons">
            <ul>
                <li style="width: 200px; font-weight: 300;">Welcome {{username}} !</li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </header>


    <div class="container">

        <div class="dd">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">View Datas
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="/sViewFlight">View My Flight</a></li>
                    <li><a href="/sViewBA">View All BAs</a></li>
                    <li><a href="/sViewCustomer">View Frequent Customers</a></li>
                    <li><a href="/sViewDestination">View Top Destinations</a></li>
                    <li><a href="/sViewReport">View Reports</a></li>
                    <li><a href="/sRevenue">Comparison of Revenue Earned</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add New
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="/addAirplane">Add Airplane</a></li>
                    <li><a href="/addAirport">Add New Airport</a></li>
                    <li><a href="/createFlight">Create New Flights</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button"><a href="/changeStatus">Change
                        Status</a></button>
            </div>
        </div>

        <form class="search">
            <h1>Comparison of Revenue earned:</h1>
        </form>
        <div id="Container1" style="float: left; height: auto; width: 50%;"></div>
        <input type="hidden" id="direct_month" value={{direct_month[0]}}>
        <input type="hidden" id="indirect_month" value={{indirect_month[0]}}> 

        <div id="Container2" style="float: right; height: auto; width: 50%;"></div>       
        <input type="hidden" id="direct_year" value={{direct_year[0]}}>
        <input type="hidden" id="indirect_year" value={{indirect_year[0]}}>



    </div>
    <script type="text/javascript">
        m1 = Number(document.getElementById("direct_month").value);
        m2 = Number(document.getElementById("indirect_month").value);
        y1 = Number(document.getElementById("direct_year").value);
        y2 = Number(document.getElementById("indirect_year").value);

        console.log(m1);
        console.log(m1+m2);
        
        function dataPoints(y, label) {
            this.y = y;
            this.label = label;
        };
        var drawing1 = new Array();
        drawing1.push(new dataPoints(m1/(m1+m2)*100, 'Direct Sales'));
        drawing1.push(new dataPoints(m2/(m1+m2)*100, 'Indirect Sales'));
        var drawing2 = new Array();
        drawing2.push(new dataPoints(y1/(y1+y2)*100, 'Direct Sales'));
        drawing2.push(new dataPoints(y2/(y1+y2)*100, 'Indirect Sales'));

        window.onload = function () {
            var chart1 = new CanvasJS.Chart("Container1", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Last Month"
                },
                data: [{
                    type: "pie",
                    startAngle: 180,
                    yValueFormatString: "##0\"%\"",
                    indexLabel: "{label} {y}",
                    dataPoints: drawing1
                }]
            });
            var chart2 = new CanvasJS.Chart("Container2", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Last Year"
                },
                data: [{
                    type: "pie",
                    startAngle: 180,
                    yValueFormatString: "##0\"%\"",
                    indexLabel: "{label} {y}",
                    dataPoints: drawing2
                }]
            });

            chart1.render();
            chart2.render();
        };
    </script>

    <style>
        .data-showcase th {
            width: 400px;
        }
    </style>
</body>


</html>