<html>

<head>
    <title>Airline Staff Portal</title>
    
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/header_style.css" rel="stylesheet"/>
    <link href="/css/body_style.css" rel="stylesheet"/>
    <script src="/js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/dropdown_style.css" rel="stylesheet"/>

</head>

<body>
    <header>
        <div class="header-title">
            <img src="/images/B&E-icon.png" style="width: 200px; height: 100px;">
            <h1>B&E AIRLINES</h1>
        </div>
    
        <div class="header-buttons">
        <ul>
            <li style="width: 200px; font-weight: 300;">Welcome {{username}} !</li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        </div>
    </header>


    <script>
        window.onload = function() {
            if(document.getElementById("top_customer").value == "False"){
                document.getElementById("top_banner").style.display="none";
            }
        }
        
        function radioCheck() {
        }
    </script>

<div class="container">

    <div class="dd">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">View Datas
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="/sViewFlight">View My Flight</a></li>
                    <li><a href="/sViewBA">View All BAs</a></li>
                    <li><a href="/sViewCustomer">View Frequent Customers</a></li>
                    <li><a href="/sViewDestination">View Top Destinations</a></li>
                    <li><a href="/sViewReport">View Reports</a></li>
                </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add New
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="/addAirplane">Add Airplane</a></li>
                    <li><a href="/addAirport">Add New Airport</a></li>
                    <li><a href="/createFlight">Create New Flights</a></li>
                </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><a href="/changeStatus">Change Status</a></button>
        </div>
    </div>

    <form class="search" action="/sViewCustomer" method="POST">
        <div class="form-group" style="margin-bottom: 0;">
            <select id="customer" class="form-control" name="customer" onchange="javascript:radioCheck()" style="width: 300px; display: inline;">
                {% for customer in customers %}
                    <option value="{{customer[0]}}">{{customer[0]}}</option>
                {% endfor %}
            </select>
            <span class="select-arrow"></span>
            <span class="form-label" style=" top: -25px; left: -300px;">Customer Email:</span>
            <input type="submit" value = Check />
        </div>
        <input type="hidden" value={{is_top}} id="top_customer">
        <h1 id="top_banner">The Top Most Frequent Cutomer is {{top_customer}}! Here's Their Flights:</h1>
    </form>

    <table class="data-showcase">
        <th>Airline</th>
        <th>Flight</th>
        <th>Depart Airport</th>
        <th>Depart Time</th>
        <th>Destination</th>
        <th>Arrival Time</th>
        <th>Price</th>
        <th>Status</th>
        <th>Airplane ID</th>

    {% for line in flights %}
        <tr>
            <td>{{line[0]}}</td>
            <td>{{line[1]}}</td>
            <td>{{line[2]}}</td>
            <td>{{line[3]}}</td>
            <td>{{line[4]}}</td>
            <td>{{line[5]}}</td>
            <td>{{line[6]}}</td>
            <td>{{line[7]}}</td>
            <td>{{line[8]}}</td>
            
        </tr>
    {% endfor %}
    </table>
</div>

</body>


</html>
