<html>

<head>
    <title>Booking Agent Portal</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/header_style.css" rel="stylesheet" />
    <link href="/css/body_style.css" rel="stylesheet" />

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/dropdown_style.css" rel="stylesheet" />
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
        }
    </script>
</head>

<body>
    <header>
        <div class="header-title">
            <img src="/images/B&E-icon.png" style="width: 200px; height: 100px;">
            <h1>B&E AIRLINES</h1>
        </div>

        <div class="header-buttons">
            <ul>
                <li style="width: 500px; font-weight: 300;">Welcome {{email_b}} !</li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </header>





    <div class="container">

        <div class="dd">
            <div class="dropdown">
                <a href="/baViewFlight"><button class="btn btn-primary dropdown-toggle" type="button"
                        data-toggle="dropdown">View My Flight</button></a>
            </div>
            <div class="dropdown">
                <a href="/baComission"><button class="btn btn-primary dropdown-toggle" type="button"
                        data-toggle="dropdown">View My Commission</button></a>
            </div>
            <div class="dropdown">
                <a href="/baPurchaseSearch"><button class="btn btn-primary dropdown-toggle" type="button"
                        data-toggle="dropdown">Search & Purchase</button></a>
            </div>
        </div>

        <form class="search" action="/baComission" method="POST">
            <h1>Your Top Customers Are: </h1>
        </form>

        <div id="Container1" style="float: left; height: auto; width: 50%;"></div>
        <div id="Container2" style="float: right; height: auto; width: 50%;"></div>
        {% for col in data1 %}
        <input type="hidden" class="data1" name={{col[0]}} value={{col[1]}}>
        {% endfor %}
        {% for col in data2 %}
        <input type="hidden" class="data2" name={{col[0]}} value={{col[1]}}>
        {% endfor %}
    </div>
    <script type="text/javascript">
        function dataPoints(y, label) {
            this.y = y;
            this.label = label;
        };

        const data1 = document.getElementsByClassName("data1");
        var drawing1 = new Array();
        for (var i = 0; i < data1.length; i++) {
            drawing1.push(new dataPoints(Number(data1[i].value) * 0.1, data1[i].name));
        };
        for (var i = 0; i < 5 - data1.length; i++) {
            drawing1.push(new dataPoints(0, 'None' + (i+1)));
        };

        var data2 = document.getElementsByClassName("data2");
        var drawing2 = new Array();
        for (var i = 0; i < data2.length; i++) {
            drawing2.push(new dataPoints(Number(data2[i].value), data2[i].name));
        };
        for (var i = 0; i < 5 - data2.length; i++) {
            drawing2.push(new dataPoints(0, 'None' + (i+1)));
        };

        window.onload = function () {

            var chart1 = new CanvasJS.Chart("Container2", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Commission Received Last Year"
                },
                data: [{
                    type: "column",
                    showInLegend: false,
                    //color: "lightblue",
                    dataPoints: drawing1
                }]
            });
            var chart2 = new CanvasJS.Chart("Container1", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Number of Tickets Purchased in the Past 6 Months"
                },
                data: [{
                    type: "column",
                    showInLegend: false,
                    //color: "lightblue",
                    dataPoints: drawing2
                }]
            });

            chart1.render();
            chart2.render();
        }

    </script> 



</body>

</html>