<html>
<head>
    <title>Customer Portal</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/header_style.css" rel="stylesheet"/>
    <link href="/css/body_style.css" rel="stylesheet"/>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/dropdown_style.css" rel="stylesheet"/>
    <script src="/js/jquery.min.js"></script>
    
</head>
<body>
    <header>
        <div class="header-title">
            <img src="/images/B&E-icon.png" style="width: 200px; height: 100px;">
            <h1>B&E AIRLINES</h1>
        </div>
    
        <div class="header-buttons">
        <ul>
            <li style="width: 300px; font-weight: 300;">Welcome {{email}} !</li>
			<li><a href="/logout">Logout</a></li>
        </ul>
        </div>
    </header>





<div class="container">

    <div class="dd">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><a href="#">View My Flights</a></button>
        </div>
        <div class="dropdown">
            <a href="/cSpending"><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Track My Spending</button></a>
        </div>
        <div class="dropdown">
            <a href="/cPurchaseSearch"><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Search & Purchase</button></a>
        </div>
    </div>

</div>

<!--  Flight Booking design  -->
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form" style="max-width: 100%;">
                    <div class="form-header">
                        <h1>Book Your Flight</h1>
                    </div>
                    <form action='/cPurchase', method="POST">
                        <div class="form-group">
							<div class="form-checkbox">
                                <table class="data-showcase">
                                    <th>Choice</th>
                                    <th>Airline</th>
                                    <th>Flight</th>
                                    <th>Depart Airport</th>
                                    <th>Depart Time</th>
                                    <th>Destination</th>
                                    <th>Arrival Time</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    {% for line in data %}
                                    <label for="customer">
                                        
                                        
                                        <tr>
                                            <td>
                                                <input type="radio" id="{{line[1]}}" name="login-type" value="{{line[1]}}">
                                                <span style="position: relative; width: 10px; height: 10px;"></span>
                                            </td>
                                            <td name="airline_name" value="{{line[0]}}">{{line[0]}}</td>
                                            <input type="hidden" name="airline_name" value="{{line[0]}}">
                                            <td name="flight_num" value="{{line[1]}}">{{line[1]}}</td>
                                            <input type="hidden" name="flight_num" value="{{line[1]}}">
                                            <td>{{line[2]}}</td>
                                            <td>{{line[3]}}</td>
                                            <td>{{line[4]}}</td>
                                            <td>{{line[5]}}</td>
                                            <td>{{line[6]}}</td>
                                            <td>{{line[7]}}</td>   
                                        </tr>
                                    </label>
                                    {% endfor %}
                                </table>
							</div>
                        </div>
                        <div class="form-group">
                            <input id="TicketNumber" class="form-control" type="number" name="number">
                            <span class="form-label">Number of Ticket</span>
                        </div>
                        <div class="form-btn">
                            <button class="submit-btn">Make My Purchase</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
	<script>
		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
		});

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
		}
	</script>
</body>
</html>