<!DOCTYPE html>
<html>

<head>
	<title>Bailey & Eden Airlines Official Website</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/header_style.css" rel="stylesheet"/>
	<link href="/css/body_style.css" rel="stylesheet"/>
	<link href="/css/form_style.css" rel="stylesheet"/>

</head>

<body>
	<header>
		<div class="header-title">
			<img src="/images/B&E-icon.png" style="width: 200px; height: 100px;">
			<h1>B&E AIRLINES</h1>
		</div>

		<div class="header-buttons">
		<ul>
			<li><a href="/login">Chart</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
		</ul>
		</div>
	</header>


<!--  Flight Booking design  -->
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="form-header">
							<h1>Book Your Flight</h1>
						</div>
						<form action="/search" method="POST">
							<div class="form-group">
								<div class="form-checkbox">
									<label for="roundtrip">
										<input type="radio" id="roundtrip" name="flight-type" value="roundtrip">
										<span></span>Roundtrip
									</label>
									<label for="one-way">
										<input type="radio" id="one-way" name="flight-type" value="oneway">
										<span></span>One way
									</label>
								</div>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="source">
								<span class="form-label">Flying from</span>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="destination">
								<span class="form-label">Flying to</span>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input id="DepartureDate" class="form-control" type="date" name=date>
										<span class="form-label">Departure Date</span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input id="ReturningDate" class="form-control" type="date" name=back-date>
										<span class="form-label">Returning Date</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<select class="form-control">
											<option>Economy class</option>
											<option>Business class</option>
											<option>First class</option>
										</select>
										<span class="select-arrow"></span>
										<span class="form-label">Travel class</span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
										<span class="select-arrow"></span>
										<span class="form-label">Adults</span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select class="form-control">
											<option>0</option>
											<option>1</option>
											<option>2</option>
										</select>
										<span class="select-arrow"></span>
										<span class="form-label">Children</span>
									</div>
								</div>
							</div>
							<div class="form-btn">
								<button class="submit-btn">Check availability</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<script src="/js/jquery.min.js"></script>
	<script>
		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
		});

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
		}
	</script>

	<div class="travel-info"></div>
    
	


</body>

</html>
