<html>
<head>
	<title>Please Login First</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/header_style.css" rel="stylesheet"/>
	<link href="/css/body_style.css" rel="stylesheet"/>
	<link href="/css/form_style.css" rel="stylesheet"/>
</head>
<body>
	<header>
		<div class="header-title">
			<img src="/images/B&E-icon.png" style="width: 200px; height: 100px;">
			<h1>B&E AIRLINES</h1>
		</div>

		<div class="header-buttons">
		<ul>
			<li><a href="/register">Register</a></li>
			<li><a href="/">Go back</a></li>
		</ul>
		</div>
	</header>
	
<input type="hidden" value='{{error}}' id="error_msg"/>
<script>
	window.onload = function() {
		if(document.getElementById("error_msg").value!="None"){
			alert(document.getElementById("error_msg").value);
		}
		document.getElementsByName("username")[0].style.display = 'none';
		document.getElementsByName("username")[0].required = false;
		document.getElementsByName("email")[0].style.display = 'inline-block';
	}

	function radioCheck() {
		if(document.getElementById('airline_staff').checked) {
			document.getElementsByName("username")[0].style.display = "inline-block";
			document.getElementsByName("username")[0].required = true;
			document.getElementsByName("email")[0].style.display = "none";
			document.getElementsByName("email")[0].required = false;
		}
		else {
			document.getElementsByName("username")[0].style.display = "none";
			document.getElementsByName("username")[0].required = false;
			document.getElementsByName("email")[0].style.display = "inline-block";
			document.getElementsByName("email")[0].required = true;
		}
	}
</script>

<div id="booking" class="section">
	<div class="section-center">
		<div class="container">
			<div class="row">
				<div class="booking-form">
					<div class="form-header">
						<h1>Welcome Aboard</h1>
					</div>
					<form action="/loginAuth" method="POST">
						<div class="form-group">
							<div class="form-checkbox">
								<label for="customer">
									<input type="radio" id="customer" name="login-type" value="customer" onclick="javascript:radioCheck()" required>
									<span></span>Customer
								</label>
								<label for="booking_agent">
									<input type="radio" id="booking_agent" name="login-type" value="booking_agent" onclick="javascript:radioCheck()" required>
									<span></span>Booking Agent
								</label>
								<label for="airline_staff">
									<input type="radio" id="airline_staff" name="login-type" value="airline_staff" onclick="javascript:radioCheck()" required>
									<span></span>Airline Staff
								</label>
							</div>
						</div>
						<div class="form-group">
							<input class="form-control" type="text" name="email" required/>
							<span class="form-label">Email</span>
						</div>
						<div class="form-group">
							<input class="form-control" type="text" name="username" required/>
							<span class="form-label">Username</span>
						</div>
						<div class="form-group">
							<input class="form-control" type="password" name="password" required/>
							<span class="form-label">Password</span>
						</div>
						<div class="form-btn">
							<button class="submit-btn">Login</button>
						</div>
						{% if error %}
							<p class="error"><strong>Error:</strong> {{error}}</p>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="/js/jquery.min.js"></script>
<script>
	$('.form-control').each(function () {
		floatedLabel($(this));
	});

	$('.form-control').on('input', function () {
		floatedLabel($(this));
	});

	function floatedLabel(input) {
		var $field = input.closest('.form-group');
		if (input.val()) {
			$field.addClass('input-not-empty');
		} else {
			$field.removeClass('input-not-empty');
		}
	}
</script>

</body>


</html>
