<html>
<head>
    <title>Thanks for the Purchase!</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/header_style.css" rel="stylesheet"/>
    <link href="/css/body_style.css" rel="stylesheet"/>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/dropdown_style.css" rel="stylesheet"/>
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        window.onload = function() {
        }
    </script>
</head>
<body>
    <header>
        <div class="header-title">
            <img src="/images/B&E-icon.png" style="width: 200px; height: 100px;">
            <h1>B&E AIRLINES</h1>
        </div>
    
        <div class="header-buttons">
        <ul>
            <li><a href="/">Back</a></li>
			<li><a href="/logout">Logout</a></li>
        </ul>
        </div>
    </header>





<div class="container">
    <form class="search">
        <h1>Thanks for Choosing our Site!<br>Your Purchase Info Is:</h1>
    </form>
    <table class="data-showcase">
        <th>Airline</th>
        <th>Flight</th>
        <th>Depart Airport</th>
        <th>Depart Time</th>
        <th>Destination</th>
        <th>Arrival Time</th>
        <th>Price</th>
        <th>Status</th>

    {% for line in flight %}
        <tr>
            <td>{{line[0]}}</td>
            <td>{{line[1]}}</td>
            <td>{{line[2]}}</td>
            <td>{{line[3]}}</td>
            <td>{{line[4]}}</td>
            <td>{{line[5]}}</td>
            <td>{{line[6]}}</td>
            <td>{{line[7]}}</td>   
        </tr>
    {% endfor %}
    </table>
</div>



</body>
</html>