<html>
<head>
	<title>Please Login First</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/header_style.css" rel="stylesheet"/>
	<link href="/css/body_style.css" rel="stylesheet"/>
	<link href="/css/form_style.css" rel="stylesheet"/>
</head>
<body>
	<header>
		<div class="header-title">
			<img src="/images/B&E-icon.png" style="width: 200px; height: 100px;">
			<h1>B&E AIRLINES</h1>
		</div>

		<div class="header-buttons">
		<ul>
			<li><a href="/">Test</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/">Go back</a></li>
		</ul>
		</div>
	</header>
	
<input type="hidden" value='{{error}}' id="error_msg"/>
<script>
	window.onload = function() {
		if(document.getElementById("error_msg").value){
			alert(document.getElementById("error_msg").value);
		}
		var C_regis = document.getElementsByClassName("Customer_regi");
		for(var i=0; i<C_regis.length; i++) {
    		C_regis[i].style.display = 'inline-block';
		}
		var AS_regis = document.getElementsByClassName("Airline_Staff_regi");
		for(var i=0; i<AS_regis.length; i++) {
    		AS_regis[i].style.display = 'none';
		}
		var BA_regis = document.getElementsByClassName("Booking_Agent_regi");
		for(var i=0; i<BA_regis.length; i++) {
    		BA_regis[i].style.display = 'none';
		}
		document.getElementById('customer').checked = false;
		document.getElementById('airline_staff').checked = false;
		document.getElementById('booking_agent').checked = false;
	}

	function radioCheck() {
		if(document.getElementById('airline_staff').checked) {
			var C_regis = document.getElementsByClassName("Customer_regi");
			for(var i=0; i<C_regis.length; i++) {
				C_regis[i].style.display = 'none';
				C_regis[i].required = false;
			}
			var AS_regis = document.getElementsByClassName("Airline_Staff_regi");
			for(var i=0; i<AS_regis.length; i++) {
				AS_regis[i].style.display = 'inline-block';
				AS_regis[i].required = true;
			}
			var BA_regis = document.getElementsByClassName("Booking_Agent_regi");
			for(var i=0; i<BA_regis.length; i++) {
				BA_regis[i].style.display = 'none';
				BA_regis[i].required = false;
			}
		}
		else if(document.getElementById('customer').checked) {
			var C_regis = document.getElementsByClassName("Customer_regi");
			for(var i=0; i<C_regis.length; i++) {
				C_regis[i].style.display = 'inline-block';
				C_regis[i].required = true;
			}
			var AS_regis = document.getElementsByClassName("Airline_Staff_regi");
			for(var i=0; i<AS_regis.length; i++) {
				AS_regis[i].style.display = 'none';
				AS_regis[i].required = false;
			}
			var BA_regis = document.getElementsByClassName("Booking_Agent_regi");
			for(var i=0; i<BA_regis.length; i++) {
				BA_regis[i].style.display = 'none';
				BA_regis[i].required = false;
			}
		}
		else {
			var C_regis = document.getElementsByClassName("Customer_regi");
			for(var i=0; i<C_regis.length; i++) {
				C_regis[i].style.display = 'none';
				C_regis[i].required = false;
			}
			var AS_regis = document.getElementsByClassName("Airline_Staff_regi");
			for(var i=0; i<AS_regis.length; i++) {
				AS_regis[i].style.display = 'none';
				AS_regis[i].required = false;
			}
			var BA_regis = document.getElementsByClassName("Booking_Agent_regi");
			for(var i=0; i<BA_regis.length; i++) {
				BA_regis[i].style.display = 'inline-block';
				BA_regis[i].required = true;
			}
		}
	}
</script>

<div id="booking" class="section">
	<div class="section-center">
		<div class="container">
			<div class="row">
				<div class="booking-form">
					<div class="form-header">
						<h1>Welcome Aboard</h1>
					</div>
					<form action="/registerAuth" method="POST">
						<div class="form-group">
							<div class="form-checkbox">
								<label for="customer">
									<input type="radio" id="customer" name="login-type" value="customer" onclick="javascript:radioCheck()">
									<span></span>Customer
								</label>
								<label for="booking_agent">
									<input type="radio" id="booking_agent" name="login-type" value="booking_agent" onclick="javascript:radioCheck()">
									<span></span>Booking Agent
								</label>
								<label for="airline_staff">
									<input type="radio" id="airline_staff" name="login-type" value="airline_staff" onclick="javascript:radioCheck()">
									<span></span>Airline Staff
								</label>
							</div>
						</div>
						<!--Customer-->
						<div class="form-group">
							<input class="form-control Customer_regi" type="text" name="email" required/>
							<span class="form-label">Email</span>
						</div>
						<div class="form-group">
							<input class="form-control Customer_regi" type="text" name = "username" required/> 
							<span class="form-label">Username</span>
						</div>
						<div class="form-group">
							<input class="form-control Customer_regi" type="password" name = "password"  required/>
							<span class="form-label">Password</span>
						</div>
						<div class="form-group">
							<input class="form-control Customer_regi" type="number" name = "buildingnum" required/> 
							<span class="form-label">Building Number</span>
						</div>
						<div class="form-group">
							<input class="form-control Customer_regi" type="text" name = "street" required/> 
							<span class="form-label">Street</span>
						</div>
						<div class="form-group">
							<input class="form-control Customer_regi" type="text" name = "city" required/> 
							<span class="form-label">City</span>
						</div>
						<div class="form-group">
							<input class="form-control Customer_regi" type="text" name = "state" required/> 
							<span class="form-label">State</span>
						</div>
						<div class="form-group">
							<input class="form-control Customer_regi" type="number" name = "phonenumber" required/> 
							<span class="form-label">Phone Number</span>
						</div>
						<div class="form-group">
							<input class="form-control Customer_regi" type="text" name = "passportnumber" required/> 
							<span class="form-label">Passport Number</span>
						</div>
						<div class="form-group">
							<input class="form-control Customer_regi" type="date" name = "passportexpiration" required/> 
							<span class="form-label">Passport Expiration</span>
						</div>
						<div class="form-group">
							<input class="form-control Customer_regi" type="text" name = "passportcountry" required/> 
							<span class="form-label">Passport Country</span>
						</div>
						<div class="form-group">
							<input class="form-control Customer_regi" type="date" name = "dob" required/> 
							<span class="form-label">Date of Birth</span>
						</div>
						<!--Booking Agent-->
						<div class="form-group">
							<input class="form-control Booking_Agent_regi" type="text" name="email-ba" required/>
							<span class="form-label">Email</span>
						</div>
						<div class="form-group">
							<input class="form-control Booking_Agent_regi" type="password" name="password-ba" required/>
							<span class="form-label">Password</span>
						</div>
						<!--Airline Staff-->
						<div class="form-group">
							<input class="form-control Airline_Staff_regi" type="text" name="username-as" required/>
							<span class="form-label">Username</span>
						</div>
						<div class="form-group">
							<input class="form-control Airline_Staff_regi" type="password" name="password-as" required/>
							<span class="form-label">Password</span>
						</div>
						<div class="form-group">
							<input class="form-control Airline_Staff_regi" type="text" name="first_name" required/>
							<span class="form-label">First Name</span>
						</div>
						<div class="form-group">
							<input class="form-control Airline_Staff_regi" type="text" name="last_name" required/>
							<span class="form-label">Last Name</span>
						</div>
						<div class="form-group">
							<input class="form-control Airline_Staff_regi" type="date" name = "dob-as" required/> 
							<span class="form-label">Date of Birth</span>
						</div>
						<div class="form-group">
							<input class="form-control Airline_Staff_regi" type="text" name="airline_name" required/>
							<span class="form-label">Airline Name</span>
						</div>

						<div class="form-btn">
							<button class="submit-btn">Register</button>
						</div>
						{% if error %}
							<p class="error"><strong>Error:</strong> {{error}}</p>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="/js/jquery.min.js"></script>
<script>
	$('.form-control').each(function () {
		floatedLabel($(this));
	});

	$('.form-control').on('input', function () {
		floatedLabel($(this));
	});

	function floatedLabel(input) {
		var $field = input.closest('.form-group');
		if (input.val()) {
			$field.addClass('input-not-empty');
		} else {
			$field.removeClass('input-not-empty');
		}
	}
</script>


</body>


</html>




<!--
<form action="/registerAuth" method="POST">
	<input type="email" name = "email" placeholder="email" required/> </br>
	<input type="text" name = "username" placeholder="username" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
	<input type="number" name = "buildingnum" placeholder="building number"/> </br>
	<input type="text" name = "street" placeholder="street"/> </br>
	<input type="text" name = "city" placeholder="city"/> </br>
	<input type="text" name = "state" placeholder="state"/> </br>
	<input type="number" name = "phonenumber" placeholder="phone number"/> </br>
	<input type="text" name = "passportnumber" placeholder="passport number"/> </br>
	<input type="date" name = "passportexpiration" placeholder="passport expiration"/> </br>
	<input type="text" name = "passportcountry" placeholder="passport country"/> </br>
	<input type="date" name = "dob" placeholder="date of birth"/> </br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Go back</a>

-->